<app-border-container [titre]="'Vehicules'">
  <form class="mt-2" role="search" #searchBar='ngForm' (ngSubmit)="submit(searchBar.value.search)">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Faucon Millenium..."
      aria-label="Search"
      name="search"
      ngModel
    />
    <button class="btn btn-outline-warning" type="submit">Search</button>
  </form>

  <div class="liste-vehicules">
    <div class="vehicule" *ngFor="let vehicule of vehicules">
      <img src="{{ vehicule.image }}" height="90px" alt="Illustration"/>
      <div class="side-infos">
        <p>{{ vehicule.nom }}</p>
        <p>{{ vehicule.longueur }}</p>
      </div>
    </div>
  </div>
</app-border-container>
