form {
  font-family: "AnonymousPro";
  color: #d8d8c3ff;
}

.container1 {
    display: flex;
    justify-content: space-between;
}

.form-label {
    margin-bottom: 0%;
    margin-top: 1%;
}

.bloc {
    overflow: auto;
    display: flex;
}

.btn-group {
    flex-wrap: wrap;
    margin-top: 1%;
}

.organisations {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.organisation {
    /* flex: auto; */
    margin: 1%;
}