<div class="container_categories">
  <div class="container1">
    <app-category-button
      [route]="'astres'"
      [titre]="'Astres'"
      [image]="'star-wars-planetes-logo'"
    ></app-category-button>
    <app-category-button
      [route]="'especes'"
      [titre]="'Especes'"
      [image]="'star-wars-especes-logo'"
    ></app-category-button>
  </div>
  <div class="container2">
    <app-category-button
      [route]="'vehicules'"
      [titre]="'Vehicules'"
      [image]="'star-wars-vaisseaux-logo'"
    ></app-category-button>
    <app-category-button
      [route]="'personnages'"
      [titre]="'Personnages'"
      [image]="'star-wars-personnages-logo'"
    ></app-category-button>
  </div>
</div>
