div {
    display: flex;
    flex-direction: column;
    align-items: center;

  img {
    height: 100px;
  }

  p {
    font-family: "DistantGalaxy";
    color: black;
    font-size: xx-large;
    -webkit-text-stroke: thin #ead51eff;
    text-align: center;
  }
}
