div {
    text-align: center;
    margin-top: 2vh;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.connexion {
    border-bottom: solid 3px rgba(75, 213, 238, 0);
    margin: 0%;
    padding: 1%;
}

.connexion:hover {
    border-bottom: solid 3px rgb(75, 213, 238);
}

p {
    font-family: 'DistantGalaxy';
    color: aliceblue;
}