<app-border-container [titre]="'Especes'">
  <form
    class="mt-2"
    role="search"
    #searchBar="ngForm"
    (ngSubmit)="submit(searchBar.value.search)"
  >
    <input
      class="form-control me-2"
      type="search"
      placeholder="Race des Yodas..."
      aria-label="Search"
      name="search"
      ngModel
    />
    <button class="btn btn-outline-warning" type="submit">Search</button>
  </form>

  <div class="liste-especess">
    <a
      class="espece"
      *ngFor="let espece of especes"
      routerLink="details/{{ espece.id }}"
    >
      <img src="{{ espece.image }}" height="90px" alt="Illustration" />
      <div class="side-infos">
        <p>{{ espece.nom }}</p>
        <p>{{ espece.classification }}</p>
      </div>
    </a>
  </div>
</app-border-container>
