@font-face {
  font-family: "DistantGalaxy";
  src: url("../assets/fonts/distant-galaxy.ttf") format(truetype),
    url("../assets/fonts/distant-galaxy.woff") format(woff);
}

@font-face {
  font-family: "AnonymousPro";
  src: url("../assets/fonts/Anonymous-Pro/Anonymous_Pro.ttf") format(truetype);
}

div {
  z-index: 4;
  flex: 1;
}
