/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(1, 0, 24);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::-moz-selection {
  color: black;
  background: rgb(75, 213, 238);
}

::selection {
  color: black;
  background: rgb(75, 213, 238);
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

#stars {
  overflow: hidden;
  z-index: -1;
  width: 2px;
  height: 2px;
  top: 0;
  left: 0;
  position: fixed;
  background: transparent;
  box-shadow: 268px 9px #fff, 1884px 1640px #fff, 115px 1540px #fff,
    803px 832px #fff, 1951px 1707px #fff, 554px 1273px #fff, 105px 1283px #fff,
    1931px 627px #fff, 1120px 1255px #fff, 1914px 1727px #fff, 729px 297px #fff,
    1140px 794px #fff, 1731px 172px #fff, 1838px 440px #fff, 1431px 1006px #fff,
    1914px 1603px #fff, 336px 1598px #fff, 1656px 1108px #fff, 379px 1934px #fff,
    867px 785px #fff, 348px 544px #fff, 143px 1230px #fff, 1257px 223px #fff,
    1191px 1058px #fff, 674px 1674px #fff, 669px 50px #fff, 1079px 1594px #fff,
    1362px 293px #fff, 189px 1044px #fff, 1832px 1723px #fff, 110px 818px #fff,
    1072px 1560px #fff, 651px 478px #fff, 29px 378px #fff, 136px 1410px #fff,
    1952px 1345px #fff, 1179px 1726px #fff, 1348px 1743px #fff, 377px 235px #fff,
    62px 1358px #fff, 321px 1644px #fff, 1616px 1430px #fff, 229px 1531px #fff,
    1240px 1988px #fff, 997px 1035px #fff, 1774px 1174px #fff, 541px 989px #fff,
    337px 127px #fff, 1249px 756px #fff, 389px 637px #fff, 426px 1344px #fff,
    1331px 1567px #fff, 1157px 1019px #fff, 1084px 873px #fff, 16px 767px #fff,
    535px 561px #fff, 1303px 290px #fff, 1086px 1020px #fff, 1967px 1344px #fff,
    501px 74px #fff, 812px 635px #fff, 618px 1241px #fff, 1808px 1472px #fff,
    1102px 1105px #fff, 521px 1534px #fff, 936px 707px #fff, 1568px 579px #fff,
    1007px 654px #fff, 407px 1687px #fff, 1481px 105px #fff, 857px 1570px #fff,
    899px 1446px #fff, 1544px 1370px #fff, 229px 1307px #fff, 406px 625px #fff,
    1184px 1607px #fff, 575px 283px #fff, 1886px 869px #fff, 1046px 26px #fff,
    641px 1631px #fff, 997px 1482px #fff, 104px 1564px #fff, 1924px 1378px #fff,
    595px 1558px #fff, 1100px 1693px #fff, 1530px 1363px #fff, 1757px 257px #fff,
    235px 762px #fff, 225px 903px #fff, 375px 12px #fff, 918px 1877px #fff,
    1446px 1897px #fff, 355px 1284px #fff, 1665px 233px #fff, 658px 624px #fff,
    328px 1585px #fff, 81px 958px #fff, 444px 1123px #fff, 930px 798px #fff,
    639px 583px #fff, 93px 471px #fff, 1494px 1494px #fff, 1695px 294px #fff,
    1975px 865px #fff, 1288px 1230px #fff, 1352px 784px #fff, 915px 1598px #fff,
    715px 1524px #fff, 224px 1235px #fff, 505px 1385px #fff, 1032px 1449px #fff,
    1065px 1288px #fff, 1319px 166px #fff, 517px 894px #fff, 1248px 69px #fff,
    1713px 1423px #fff, 1989px 438px #fff, 149px 592px #fff, 323px 1193px #fff,
    1218px 1871px #fff, 1689px 1113px #fff, 1877px 301px #fff,
    1105px 1474px #fff, 772px 1795px #fff, 1640px 793px #fff, 500px 637px #fff,
    1938px 1636px #fff, 889px 1673px #fff, 1456px 156px #fff, 1496px 1703px #fff,
    184px 114px #fff, 1784px 313px #fff, 363px 991px #fff, 414px 1739px #fff,
    1133px 1102px #fff, 913px 515px #fff, 1401px 687px #fff, 1371px 983px #fff,
    666px 355px #fff, 1269px 523px #fff, 1785px 1544px #fff, 1722px 391px #fff,
    777px 1833px #fff, 815px 1153px #fff, 1097px 1314px #fff, 1323px 891px #fff,
    964px 1304px #fff, 1581px 1405px #fff, 1910px 1897px #fff, 1805px 73px #fff,
    1103px 528px #fff, 663px 678px #fff, 345px 320px #fff, 1812px 1469px #fff,
    702px 350px #fff, 870px 963px #fff, 1720px 1512px #fff, 940px 303px #fff,
    670px 37px #fff, 1947px 90px #fff, 1709px 744px #fff, 30px 1604px #fff,
    1728px 1057px #fff, 1854px 1879px #fff, 936px 1011px #fff,
    1654px 1489px #fff, 1979px 517px #fff, 1842px 1905px #fff,
    1433px 1581px #fff, 1935px 1193px #fff, 294px 1400px #fff, 88px 323px #fff,
    1804px 763px #fff, 919px 546px #fff, 692px 462px #fff, 1352px 1383px #fff,
    1659px 1820px #fff, 1394px 1862px #fff, 535px 298px #fff, 783px 640px #fff,
    880px 1459px #fff, 186px 1267px #fff, 1407px 613px #fff, 421px 904px #fff,
    780px 925px #fff, 932px 435px #fff, 63px 1910px #fff, 84px 929px #fff,
    496px 1080px #fff, 1117px 1546px #fff, 394px 1859px #fff, 1783px 358px #fff,
    1697px 388px #fff, 88px 15px #fff, 47px 1293px #fff, 1994px 1632px #fff,
    1839px 1985px #fff, 1289px 677px #fff, 871px 322px #fff, 1351px 80px #fff,
    428px 1149px #fff, 1951px 1693px #fff, 466px 1391px #fff, 485px 972px #fff,
    1400px 1302px #fff, 85px 485px #fff, 1341px 1446px #fff, 1978px 1046px #fff,
    420px 1007px #fff, 1694px 427px #fff, 1070px 988px #fff, 1594px 1650px #fff,
    818px 194px #fff, 288px 569px #fff, 1659px 458px #fff, 554px 476px #fff,
    1020px 890px #fff, 724px 1116px #fff, 310px 1560px #fff, 1104px 1561px #fff,
    1726px 143px #fff, 764px 100px #fff, 940px 1691px #fff, 335px 1458px #fff,
    1341px 1553px #fff, 745px 210px #fff, 1160px 1252px #fff, 153px 41px #fff,
    271px 79px #fff, 1996px 1849px #fff, 517px 212px #fff, 1396px 1216px #fff,
    897px 1114px #fff, 61px 122px #fff, 396px 419px #fff, 1169px 620px #fff,
    66px 511px #fff, 875px 1195px #fff, 1881px 797px #fff, 465px 64px #fff,
    1558px 1823px #fff, 1330px 191px #fff, 503px 976px #fff, 542px 1275px #fff,
    354px 1752px #fff, 979px 516px #fff, 1183px 265px #fff, 1904px 1225px #fff,
    939px 656px #fff, 253px 1911px #fff, 1236px 943px #fff, 322px 640px #fff,
    1316px 1631px #fff, 1177px 1286px #fff, 718px 573px #fff, 1538px 1891px #fff,
    165px 1280px #fff, 583px 589px #fff, 1885px 31px #fff, 414px 821px #fff,
    997px 1972px #fff, 1965px 953px #fff, 1373px 814px #fff, 765px 1461px #fff,
    88px 1036px #fff, 1460px 684px #fff, 1232px 1177px #fff, 1772px 355px #fff,
    63px 980px #fff, 1753px 325px #fff, 212px 1786px #fff, 961px 1006px #fff,
    512px 460px #fff, 1102px 711px #fff, 1514px 609px #fff, 539px 948px #fff,
    807px 807px #fff, 1403px 1907px #fff, 1435px 1337px #fff, 463px 1884px #fff,
    1756px 134px #fff, 1656px 647px #fff, 1454px 1663px #fff, 1052px 729px #fff,
    298px 1930px #fff, 944px 1670px #fff, 246px 444px #fff, 972px 776px #fff,
    1261px 88px #fff, 1990px 839px #fff, 1281px 195px #fff, 508px 745px #fff,
    1402px 1787px #fff, 255px 3px #fff, 1052px 1837px #fff, 319px 479px #fff,
    1619px 843px #fff, 878px 644px #fff, 1273px 1891px #fff, 1404px 1351px #fff,
    847px 590px #fff, 1055px 1301px #fff, 657px 1867px #fff, 474px 479px #fff,
    1886px 107px #fff, 123px 1410px #fff, 492px 1915px #fff, 125px 659px #fff,
    157px 959px #fff, 1136px 1735px #fff, 1390px 978px #fff, 469px 198px #fff,
    1545px 1816px #fff, 724px 1647px #fff, 1699px 1803px #fff, 323px 1454px #fff,
    902px 1947px #fff, 1813px 340px #fff, 925px 1275px #fff, 1580px 270px #fff,
    678px 1515px #fff, 1875px 180px #fff, 132px 1229px #fff, 512px 678px #fff,
    1246px 277px #fff, 1100px 266px #fff, 1772px 1944px #fff, 1360px 1774px #fff,
    1442px 505px #fff, 1691px 244px #fff, 1282px 357px #fff, 1679px 738px #fff,
    1793px 558px #fff, 1905px 819px #fff, 1641px 1554px #fff, 1260px 207px #fff,
    337px 542px #fff, 1372px 1408px #fff, 694px 1320px #fff, 1779px 196px #fff,
    587px 1643px #fff, 635px 1200px #fff, 1047px 490px #fff, 584px 82px #fff,
    1356px 758px #fff, 1177px 130px #fff, 409px 1099px #fff, 1838px 1481px #fff,
    1065px 1593px #fff, 1116px 1186px #fff, 373px 518px #fff, 1093px 309px #fff,
    1481px 1446px #fff, 988px 1066px #fff, 726px 324px #fff, 272px 1917px #fff,
    1530px 272px #fff, 771px 973px #fff, 1566px 186px #fff, 1243px 144px #fff,
    1424px 960px #fff, 977px 513px #fff, 1884px 621px #fff, 1295px 864px #fff,
    1631px 421px #fff, 1095px 928px #fff, 1462px 1881px #fff, 654px 826px #fff,
    264px 1697px #fff, 1847px 902px #fff, 1633px 839px #fff, 1142px 1305px #fff,
    1896px 666px #fff, 186px 146px #fff, 1722px 1183px #fff, 530px 121px #fff,
    1542px 1490px #fff, 1472px 1363px #fff, 541px 236px #fff, 16px 595px #fff,
    845px 672px #fff, 1807px 159px #fff, 413px 591px #fff, 184px 573px #fff,
    794px 875px #fff, 559px 1439px #fff, 1633px 2000px #fff, 990px 1202px #fff,
    655px 1941px #fff, 789px 1495px #fff, 1977px 635px #fff, 1547px 1811px #fff,
    492px 1178px #fff, 77px 1426px #fff, 1033px 438px #fff, 841px 1023px #fff,
    1930px 1496px #fff, 1221px 1935px #fff, 359px 1720px #fff,
    1737px 1790px #fff, 1541px 238px #fff, 1649px 250px #fff, 1940px 962px #fff,
    865px 608px #fff, 1688px 1676px #fff, 1566px 220px #fff, 284px 834px #fff,
    126px 733px #fff, 1970px 1362px #fff, 475px 1828px #fff, 1492px 463px #fff,
    632px 523px #fff, 1657px 435px #fff, 847px 928px #fff, 1018px 393px #fff,
    1995px 1813px #fff, 658px 1846px #fff, 5px 693px #fff, 1228px 1907px #fff,
    1583px 1484px #fff, 533px 1288px #fff, 1883px 170px #fff, 889px 1970px #fff,
    416px 425px #fff, 952px 98px #fff, 1394px 1141px #fff, 1274px 1848px #fff,
    410px 1576px #fff, 827px 398px #fff, 1052px 1865px #fff, 1118px 435px #fff,
    1301px 1321px #fff, 1397px 72px #fff, 1964px 1472px #fff, 1865px 1583px #fff,
    1310px 36px #fff, 1170px 824px #fff, 1951px 1321px #fff, 1701px 787px #fff,
    1964px 1488px #fff, 383px 1602px #fff, 1538px 268px #fff, 977px 1700px #fff,
    1418px 1319px #fff, 1066px 275px #fff, 1644px 1121px #fff, 1973px 136px #fff,
    581px 1761px #fff, 1081px 574px #fff, 1954px 75px #fff, 417px 1255px #fff,
    803px 563px #fff, 961px 273px #fff, 529px 849px #fff, 780px 839px #fff,
    217px 1304px #fff, 393px 332px #fff, 1333px 1759px #fff, 288px 1383px #fff,
    829px 1695px #fff, 1505px 981px #fff, 548px 902px #fff, 1715px 813px #fff,
    1444px 1147px #fff, 469px 1617px #fff, 1103px 602px #fff, 896px 717px #fff,
    1217px 1998px #fff, 649px 58px #fff, 912px 397px #fff, 1761px 978px #fff,
    1349px 1217px #fff, 835px 1927px #fff, 417px 704px #fff, 1999px 764px #fff,
    1982px 1752px #fff, 424px 68px #fff, 108px 1457px #fff, 1082px 552px #fff,
    1807px 514px #fff, 994px 621px #fff, 689px 948px #fff, 709px 883px #fff,
    502px 1371px #fff, 103px 123px #fff, 912px 1158px #fff, 1458px 1378px #fff,
    1866px 221px #fff, 71px 1045px #fff, 621px 1252px #fff, 701px 1476px #fff,
    1960px 1977px #fff, 178px 1055px #fff, 936px 1130px #fff, 1531px 790px #fff,
    1844px 1426px #fff, 387px 215px #fff, 140px 1568px #fff, 67px 1676px #fff,
    1012px 1462px #fff, 1874px 1693px #fff, 297px 152px #fff, 1846px 1737px #fff,
    1121px 246px #fff, 1087px 1129px #fff, 1532px 1508px #fff, 310px 1964px #fff,
    440px 560px #fff, 411px 1907px #fff, 136px 1399px #fff, 890px 359px #fff,
    522px 364px #fff, 1810px 1160px #fff, 847px 528px #fff, 1561px 957px #fff,
    504px 23px #fff, 1612px 1966px #fff, 1383px 651px #fff, 1313px 1886px #fff,
    1476px 624px #fff, 1560px 146px #fff, 1008px 1690px #fff, 1976px 1653px #fff,
    261px 1176px #fff, 1124px 1900px #fff, 331px 1754px #fff, 791px 1353px #fff,
    1848px 1070px #fff, 817px 1703px #fff, 610px 1368px #fff, 1401px 1603px #fff,
    1200px 148px #fff, 1690px 983px #fff, 1992px 1303px #fff, 319px 503px #fff,
    279px 946px #fff, 1473px 642px #fff, 1064px 873px #fff, 1793px 1887px #fff,
    303px 1483px #fff, 353px 1485px #fff, 781px 1071px #fff, 364px 833px #fff,
    1898px 35px #fff, 1764px 148px #fff, 269px 1844px #fff, 1475px 188px #fff,
    771px 1245px #fff, 1949px 384px #fff, 751px 449px #fff, 998px 1505px #fff,
    1085px 761px #fff, 887px 1946px #fff, 1204px 607px #fff, 65px 346px #fff,
    570px 1182px #fff, 1539px 1694px #fff, 573px 1075px #fff, 763px 1569px #fff,
    85px 160px #fff, 255px 342px #fff, 550px 1761px #fff, 1989px 701px #fff,
    365px 297px #fff, 1634px 143px #fff, 1404px 1872px #fff, 1641px 491px #fff,
    275px 1246px #fff, 474px 1194px #fff, 1834px 747px #fff, 464px 1605px #fff,
    1678px 568px #fff, 363px 1644px #fff, 915px 1287px #fff, 783px 36px #fff,
    525px 215px #fff, 1687px 1897px #fff, 19px 1883px #fff, 1482px 230px #fff,
    1946px 923px #fff, 1872px 1300px #fff, 122px 922px #fff, 38px 1845px #fff,
    1478px 12px #fff, 384px 142px #fff, 272px 1386px #fff, 470px 1099px #fff,
    927px 460px #fff, 618px 1153px #fff, 841px 143px #fff, 974px 58px #fff,
    1040px 1518px #fff, 1859px 796px #fff, 1614px 1655px #fff, 1070px 541px #fff,
    66px 161px #fff, 15px 1050px #fff, 1822px 1898px #fff, 1324px 301px #fff,
    886px 924px #fff, 738px 507px #fff, 1433px 127px #fff, 29px 746px #fff,
    1904px 1587px #fff, 1767px 128px #fff, 1686px 268px #fff, 602px 1207px #fff,
    668px 1238px #fff, 168px 191px #fff, 51px 265px #fff, 1987px 482px #fff,
    610px 2px #fff, 9px 1044px #fff, 488px 363px #fff, 371px 184px #fff,
    10px 1905px #fff, 1738px 482px #fff, 638px 1204px #fff, 689px 379px #fff,
    765px 1986px #fff, 106px 694px #fff, 614px 203px #fff, 655px 1449px #fff,
    942px 354px #fff, 1375px 373px #fff, 1145px 560px #fff, 1250px 1420px #fff,
    1907px 930px #fff, 68px 983px #fff, 1600px 1045px #fff, 1539px 28px #fff,
    999px 100px #fff, 283px 226px #fff, 1420px 1472px #fff, 214px 1145px #fff,
    1423px 1419px #fff, 198px 497px #fff, 1498px 600px #fff, 1493px 382px #fff,
    415px 1874px #fff, 391px 1397px #fff, 781px 1516px #fff, 496px 1690px #fff,
    388px 25px #fff, 1875px 393px #fff, 1247px 470px #fff, 1899px 1404px #fff,
    1709px 44px #fff, 1791px 139px #fff, 905px 1243px #fff, 1859px 689px #fff,
    214px 7px #fff, 1725px 723px #fff, 820px 1528px #fff, 1252px 938px #fff,
    630px 856px #fff, 321px 764px #fff, 205px 1415px #fff, 1418px 1524px #fff,
    295px 326px #fff, 1198px 1634px #fff, 58px 1201px #fff, 845px 1887px #fff,
    1917px 1583px #fff, 1093px 1521px #fff, 1190px 358px #fff, 387px 441px #fff,
    657px 1470px #fff, 431px 1099px #fff, 1160px 968px #fff, 1931px 472px #fff,
    1994px 779px #fff, 1206px 981px #fff, 1502px 123px #fff, 185px 574px #fff,
    1819px 549px #fff, 971px 256px #fff, 30px 1873px #fff, 1942px 228px #fff,
    954px 145px #fff, 154px 480px #fff, 405px 744px #fff, 1183px 1658px #fff,
    1739px 1695px #fff, 772px 1165px #fff, 1301px 423px #fff, 654px 1177px #fff,
    1559px 620px #fff, 1820px 266px #fff, 1229px 1409px #fff, 793px 1642px #fff,
    610px 1111px #fff, 1618px 189px #fff, 918px 1008px #fff, 1357px 437px #fff,
    1783px 724px #fff, 157px 1809px #fff, 1178px 731px #fff, 791px 439px #fff,
    1129px 857px #fff;
  animation: animStar 20s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 268px 9px #fff, 1884px 1640px #fff, 115px 1540px #fff,
    803px 832px #fff, 1951px 1707px #fff, 554px 1273px #fff, 105px 1283px #fff,
    1931px 627px #fff, 1120px 1255px #fff, 1914px 1727px #fff, 729px 297px #fff,
    1140px 794px #fff, 1731px 172px #fff, 1838px 440px #fff, 1431px 1006px #fff,
    1914px 1603px #fff, 336px 1598px #fff, 1656px 1108px #fff, 379px 1934px #fff,
    867px 785px #fff, 348px 544px #fff, 143px 1230px #fff, 1257px 223px #fff,
    1191px 1058px #fff, 674px 1674px #fff, 669px 50px #fff, 1079px 1594px #fff,
    1362px 293px #fff, 189px 1044px #fff, 1832px 1723px #fff, 110px 818px #fff,
    1072px 1560px #fff, 651px 478px #fff, 29px 378px #fff, 136px 1410px #fff,
    1952px 1345px #fff, 1179px 1726px #fff, 1348px 1743px #fff, 377px 235px #fff,
    62px 1358px #fff, 321px 1644px #fff, 1616px 1430px #fff, 229px 1531px #fff,
    1240px 1988px #fff, 997px 1035px #fff, 1774px 1174px #fff, 541px 989px #fff,
    337px 127px #fff, 1249px 756px #fff, 389px 637px #fff, 426px 1344px #fff,
    1331px 1567px #fff, 1157px 1019px #fff, 1084px 873px #fff, 16px 767px #fff,
    535px 561px #fff, 1303px 290px #fff, 1086px 1020px #fff, 1967px 1344px #fff,
    501px 74px #fff, 812px 635px #fff, 618px 1241px #fff, 1808px 1472px #fff,
    1102px 1105px #fff, 521px 1534px #fff, 936px 707px #fff, 1568px 579px #fff,
    1007px 654px #fff, 407px 1687px #fff, 1481px 105px #fff, 857px 1570px #fff,
    899px 1446px #fff, 1544px 1370px #fff, 229px 1307px #fff, 406px 625px #fff,
    1184px 1607px #fff, 575px 283px #fff, 1886px 869px #fff, 1046px 26px #fff,
    641px 1631px #fff, 997px 1482px #fff, 104px 1564px #fff, 1924px 1378px #fff,
    595px 1558px #fff, 1100px 1693px #fff, 1530px 1363px #fff, 1757px 257px #fff,
    235px 762px #fff, 225px 903px #fff, 375px 12px #fff, 918px 1877px #fff,
    1446px 1897px #fff, 355px 1284px #fff, 1665px 233px #fff, 658px 624px #fff,
    328px 1585px #fff, 81px 958px #fff, 444px 1123px #fff, 930px 798px #fff,
    639px 583px #fff, 93px 471px #fff, 1494px 1494px #fff, 1695px 294px #fff,
    1975px 865px #fff, 1288px 1230px #fff, 1352px 784px #fff, 915px 1598px #fff,
    715px 1524px #fff, 224px 1235px #fff, 505px 1385px #fff, 1032px 1449px #fff,
    1065px 1288px #fff, 1319px 166px #fff, 517px 894px #fff, 1248px 69px #fff,
    1713px 1423px #fff, 1989px 438px #fff, 149px 592px #fff, 323px 1193px #fff,
    1218px 1871px #fff, 1689px 1113px #fff, 1877px 301px #fff,
    1105px 1474px #fff, 772px 1795px #fff, 1640px 793px #fff, 500px 637px #fff,
    1938px 1636px #fff, 889px 1673px #fff, 1456px 156px #fff, 1496px 1703px #fff,
    184px 114px #fff, 1784px 313px #fff, 363px 991px #fff, 414px 1739px #fff,
    1133px 1102px #fff, 913px 515px #fff, 1401px 687px #fff, 1371px 983px #fff,
    666px 355px #fff, 1269px 523px #fff, 1785px 1544px #fff, 1722px 391px #fff,
    777px 1833px #fff, 815px 1153px #fff, 1097px 1314px #fff, 1323px 891px #fff,
    964px 1304px #fff, 1581px 1405px #fff, 1910px 1897px #fff, 1805px 73px #fff,
    1103px 528px #fff, 663px 678px #fff, 345px 320px #fff, 1812px 1469px #fff,
    702px 350px #fff, 870px 963px #fff, 1720px 1512px #fff, 940px 303px #fff,
    670px 37px #fff, 1947px 90px #fff, 1709px 744px #fff, 30px 1604px #fff,
    1728px 1057px #fff, 1854px 1879px #fff, 936px 1011px #fff,
    1654px 1489px #fff, 1979px 517px #fff, 1842px 1905px #fff,
    1433px 1581px #fff, 1935px 1193px #fff, 294px 1400px #fff, 88px 323px #fff,
    1804px 763px #fff, 919px 546px #fff, 692px 462px #fff, 1352px 1383px #fff,
    1659px 1820px #fff, 1394px 1862px #fff, 535px 298px #fff, 783px 640px #fff,
    880px 1459px #fff, 186px 1267px #fff, 1407px 613px #fff, 421px 904px #fff,
    780px 925px #fff, 932px 435px #fff, 63px 1910px #fff, 84px 929px #fff,
    496px 1080px #fff, 1117px 1546px #fff, 394px 1859px #fff, 1783px 358px #fff,
    1697px 388px #fff, 88px 15px #fff, 47px 1293px #fff, 1994px 1632px #fff,
    1839px 1985px #fff, 1289px 677px #fff, 871px 322px #fff, 1351px 80px #fff,
    428px 1149px #fff, 1951px 1693px #fff, 466px 1391px #fff, 485px 972px #fff,
    1400px 1302px #fff, 85px 485px #fff, 1341px 1446px #fff, 1978px 1046px #fff,
    420px 1007px #fff, 1694px 427px #fff, 1070px 988px #fff, 1594px 1650px #fff,
    818px 194px #fff, 288px 569px #fff, 1659px 458px #fff, 554px 476px #fff,
    1020px 890px #fff, 724px 1116px #fff, 310px 1560px #fff, 1104px 1561px #fff,
    1726px 143px #fff, 764px 100px #fff, 940px 1691px #fff, 335px 1458px #fff,
    1341px 1553px #fff, 745px 210px #fff, 1160px 1252px #fff, 153px 41px #fff,
    271px 79px #fff, 1996px 1849px #fff, 517px 212px #fff, 1396px 1216px #fff,
    897px 1114px #fff, 61px 122px #fff, 396px 419px #fff, 1169px 620px #fff,
    66px 511px #fff, 875px 1195px #fff, 1881px 797px #fff, 465px 64px #fff,
    1558px 1823px #fff, 1330px 191px #fff, 503px 976px #fff, 542px 1275px #fff,
    354px 1752px #fff, 979px 516px #fff, 1183px 265px #fff, 1904px 1225px #fff,
    939px 656px #fff, 253px 1911px #fff, 1236px 943px #fff, 322px 640px #fff,
    1316px 1631px #fff, 1177px 1286px #fff, 718px 573px #fff, 1538px 1891px #fff,
    165px 1280px #fff, 583px 589px #fff, 1885px 31px #fff, 414px 821px #fff,
    997px 1972px #fff, 1965px 953px #fff, 1373px 814px #fff, 765px 1461px #fff,
    88px 1036px #fff, 1460px 684px #fff, 1232px 1177px #fff, 1772px 355px #fff,
    63px 980px #fff, 1753px 325px #fff, 212px 1786px #fff, 961px 1006px #fff,
    512px 460px #fff, 1102px 711px #fff, 1514px 609px #fff, 539px 948px #fff,
    807px 807px #fff, 1403px 1907px #fff, 1435px 1337px #fff, 463px 1884px #fff,
    1756px 134px #fff, 1656px 647px #fff, 1454px 1663px #fff, 1052px 729px #fff,
    298px 1930px #fff, 944px 1670px #fff, 246px 444px #fff, 972px 776px #fff,
    1261px 88px #fff, 1990px 839px #fff, 1281px 195px #fff, 508px 745px #fff,
    1402px 1787px #fff, 255px 3px #fff, 1052px 1837px #fff, 319px 479px #fff,
    1619px 843px #fff, 878px 644px #fff, 1273px 1891px #fff, 1404px 1351px #fff,
    847px 590px #fff, 1055px 1301px #fff, 657px 1867px #fff, 474px 479px #fff,
    1886px 107px #fff, 123px 1410px #fff, 492px 1915px #fff, 125px 659px #fff,
    157px 959px #fff, 1136px 1735px #fff, 1390px 978px #fff, 469px 198px #fff,
    1545px 1816px #fff, 724px 1647px #fff, 1699px 1803px #fff, 323px 1454px #fff,
    902px 1947px #fff, 1813px 340px #fff, 925px 1275px #fff, 1580px 270px #fff,
    678px 1515px #fff, 1875px 180px #fff, 132px 1229px #fff, 512px 678px #fff,
    1246px 277px #fff, 1100px 266px #fff, 1772px 1944px #fff, 1360px 1774px #fff,
    1442px 505px #fff, 1691px 244px #fff, 1282px 357px #fff, 1679px 738px #fff,
    1793px 558px #fff, 1905px 819px #fff, 1641px 1554px #fff, 1260px 207px #fff,
    337px 542px #fff, 1372px 1408px #fff, 694px 1320px #fff, 1779px 196px #fff,
    587px 1643px #fff, 635px 1200px #fff, 1047px 490px #fff, 584px 82px #fff,
    1356px 758px #fff, 1177px 130px #fff, 409px 1099px #fff, 1838px 1481px #fff,
    1065px 1593px #fff, 1116px 1186px #fff, 373px 518px #fff, 1093px 309px #fff,
    1481px 1446px #fff, 988px 1066px #fff, 726px 324px #fff, 272px 1917px #fff,
    1530px 272px #fff, 771px 973px #fff, 1566px 186px #fff, 1243px 144px #fff,
    1424px 960px #fff, 977px 513px #fff, 1884px 621px #fff, 1295px 864px #fff,
    1631px 421px #fff, 1095px 928px #fff, 1462px 1881px #fff, 654px 826px #fff,
    264px 1697px #fff, 1847px 902px #fff, 1633px 839px #fff, 1142px 1305px #fff,
    1896px 666px #fff, 186px 146px #fff, 1722px 1183px #fff, 530px 121px #fff,
    1542px 1490px #fff, 1472px 1363px #fff, 541px 236px #fff, 16px 595px #fff,
    845px 672px #fff, 1807px 159px #fff, 413px 591px #fff, 184px 573px #fff,
    794px 875px #fff, 559px 1439px #fff, 1633px 2000px #fff, 990px 1202px #fff,
    655px 1941px #fff, 789px 1495px #fff, 1977px 635px #fff, 1547px 1811px #fff,
    492px 1178px #fff, 77px 1426px #fff, 1033px 438px #fff, 841px 1023px #fff,
    1930px 1496px #fff, 1221px 1935px #fff, 359px 1720px #fff,
    1737px 1790px #fff, 1541px 238px #fff, 1649px 250px #fff, 1940px 962px #fff,
    865px 608px #fff, 1688px 1676px #fff, 1566px 220px #fff, 284px 834px #fff,
    126px 733px #fff, 1970px 1362px #fff, 475px 1828px #fff, 1492px 463px #fff,
    632px 523px #fff, 1657px 435px #fff, 847px 928px #fff, 1018px 393px #fff,
    1995px 1813px #fff, 658px 1846px #fff, 5px 693px #fff, 1228px 1907px #fff,
    1583px 1484px #fff, 533px 1288px #fff, 1883px 170px #fff, 889px 1970px #fff,
    416px 425px #fff, 952px 98px #fff, 1394px 1141px #fff, 1274px 1848px #fff,
    410px 1576px #fff, 827px 398px #fff, 1052px 1865px #fff, 1118px 435px #fff,
    1301px 1321px #fff, 1397px 72px #fff, 1964px 1472px #fff, 1865px 1583px #fff,
    1310px 36px #fff, 1170px 824px #fff, 1951px 1321px #fff, 1701px 787px #fff,
    1964px 1488px #fff, 383px 1602px #fff, 1538px 268px #fff, 977px 1700px #fff,
    1418px 1319px #fff, 1066px 275px #fff, 1644px 1121px #fff, 1973px 136px #fff,
    581px 1761px #fff, 1081px 574px #fff, 1954px 75px #fff, 417px 1255px #fff,
    803px 563px #fff, 961px 273px #fff, 529px 849px #fff, 780px 839px #fff,
    217px 1304px #fff, 393px 332px #fff, 1333px 1759px #fff, 288px 1383px #fff,
    829px 1695px #fff, 1505px 981px #fff, 548px 902px #fff, 1715px 813px #fff,
    1444px 1147px #fff, 469px 1617px #fff, 1103px 602px #fff, 896px 717px #fff,
    1217px 1998px #fff, 649px 58px #fff, 912px 397px #fff, 1761px 978px #fff,
    1349px 1217px #fff, 835px 1927px #fff, 417px 704px #fff, 1999px 764px #fff,
    1982px 1752px #fff, 424px 68px #fff, 108px 1457px #fff, 1082px 552px #fff,
    1807px 514px #fff, 994px 621px #fff, 689px 948px #fff, 709px 883px #fff,
    502px 1371px #fff, 103px 123px #fff, 912px 1158px #fff, 1458px 1378px #fff,
    1866px 221px #fff, 71px 1045px #fff, 621px 1252px #fff, 701px 1476px #fff,
    1960px 1977px #fff, 178px 1055px #fff, 936px 1130px #fff, 1531px 790px #fff,
    1844px 1426px #fff, 387px 215px #fff, 140px 1568px #fff, 67px 1676px #fff,
    1012px 1462px #fff, 1874px 1693px #fff, 297px 152px #fff, 1846px 1737px #fff,
    1121px 246px #fff, 1087px 1129px #fff, 1532px 1508px #fff, 310px 1964px #fff,
    440px 560px #fff, 411px 1907px #fff, 136px 1399px #fff, 890px 359px #fff,
    522px 364px #fff, 1810px 1160px #fff, 847px 528px #fff, 1561px 957px #fff,
    504px 23px #fff, 1612px 1966px #fff, 1383px 651px #fff, 1313px 1886px #fff,
    1476px 624px #fff, 1560px 146px #fff, 1008px 1690px #fff, 1976px 1653px #fff,
    261px 1176px #fff, 1124px 1900px #fff, 331px 1754px #fff, 791px 1353px #fff,
    1848px 1070px #fff, 817px 1703px #fff, 610px 1368px #fff, 1401px 1603px #fff,
    1200px 148px #fff, 1690px 983px #fff, 1992px 1303px #fff, 319px 503px #fff,
    279px 946px #fff, 1473px 642px #fff, 1064px 873px #fff, 1793px 1887px #fff,
    303px 1483px #fff, 353px 1485px #fff, 781px 1071px #fff, 364px 833px #fff,
    1898px 35px #fff, 1764px 148px #fff, 269px 1844px #fff, 1475px 188px #fff,
    771px 1245px #fff, 1949px 384px #fff, 751px 449px #fff, 998px 1505px #fff,
    1085px 761px #fff, 887px 1946px #fff, 1204px 607px #fff, 65px 346px #fff,
    570px 1182px #fff, 1539px 1694px #fff, 573px 1075px #fff, 763px 1569px #fff,
    85px 160px #fff, 255px 342px #fff, 550px 1761px #fff, 1989px 701px #fff,
    365px 297px #fff, 1634px 143px #fff, 1404px 1872px #fff, 1641px 491px #fff,
    275px 1246px #fff, 474px 1194px #fff, 1834px 747px #fff, 464px 1605px #fff,
    1678px 568px #fff, 363px 1644px #fff, 915px 1287px #fff, 783px 36px #fff,
    525px 215px #fff, 1687px 1897px #fff, 19px 1883px #fff, 1482px 230px #fff,
    1946px 923px #fff, 1872px 1300px #fff, 122px 922px #fff, 38px 1845px #fff,
    1478px 12px #fff, 384px 142px #fff, 272px 1386px #fff, 470px 1099px #fff,
    927px 460px #fff, 618px 1153px #fff, 841px 143px #fff, 974px 58px #fff,
    1040px 1518px #fff, 1859px 796px #fff, 1614px 1655px #fff, 1070px 541px #fff,
    66px 161px #fff, 15px 1050px #fff, 1822px 1898px #fff, 1324px 301px #fff,
    886px 924px #fff, 738px 507px #fff, 1433px 127px #fff, 29px 746px #fff,
    1904px 1587px #fff, 1767px 128px #fff, 1686px 268px #fff, 602px 1207px #fff,
    668px 1238px #fff, 168px 191px #fff, 51px 265px #fff, 1987px 482px #fff,
    610px 2px #fff, 9px 1044px #fff, 488px 363px #fff, 371px 184px #fff,
    10px 1905px #fff, 1738px 482px #fff, 638px 1204px #fff, 689px 379px #fff,
    765px 1986px #fff, 106px 694px #fff, 614px 203px #fff, 655px 1449px #fff,
    942px 354px #fff, 1375px 373px #fff, 1145px 560px #fff, 1250px 1420px #fff,
    1907px 930px #fff, 68px 983px #fff, 1600px 1045px #fff, 1539px 28px #fff,
    999px 100px #fff, 283px 226px #fff, 1420px 1472px #fff, 214px 1145px #fff,
    1423px 1419px #fff, 198px 497px #fff, 1498px 600px #fff, 1493px 382px #fff,
    415px 1874px #fff, 391px 1397px #fff, 781px 1516px #fff, 496px 1690px #fff,
    388px 25px #fff, 1875px 393px #fff, 1247px 470px #fff, 1899px 1404px #fff,
    1709px 44px #fff, 1791px 139px #fff, 905px 1243px #fff, 1859px 689px #fff,
    214px 7px #fff, 1725px 723px #fff, 820px 1528px #fff, 1252px 938px #fff,
    630px 856px #fff, 321px 764px #fff, 205px 1415px #fff, 1418px 1524px #fff,
    295px 326px #fff, 1198px 1634px #fff, 58px 1201px #fff, 845px 1887px #fff,
    1917px 1583px #fff, 1093px 1521px #fff, 1190px 358px #fff, 387px 441px #fff,
    657px 1470px #fff, 431px 1099px #fff, 1160px 968px #fff, 1931px 472px #fff,
    1994px 779px #fff, 1206px 981px #fff, 1502px 123px #fff, 185px 574px #fff,
    1819px 549px #fff, 971px 256px #fff, 30px 1873px #fff, 1942px 228px #fff,
    954px 145px #fff, 154px 480px #fff, 405px 744px #fff, 1183px 1658px #fff,
    1739px 1695px #fff, 772px 1165px #fff, 1301px 423px #fff, 654px 1177px #fff,
    1559px 620px #fff, 1820px 266px #fff, 1229px 1409px #fff, 793px 1642px #fff,
    610px 1111px #fff, 1618px 189px #fff, 918px 1008px #fff, 1357px 437px #fff,
    1783px 724px #fff, 157px 1809px #fff, 1178px 731px #fff, 791px 439px #fff,
    1129px 857px #fff;
}

#stars2 {
  overflow: hidden;
  z-index: -1;
  width: 2px;
  height: 2px;
  top: 0;
  left: 0;
  position: fixed;
  background: transparent;
  box-shadow: 746px 1726px #fff, 1244px 234px #fff, 668px 1348px #fff,
    17px 1680px #fff, 938px 1799px #fff, 15px 257px #fff, 350px 126px #fff,
    1327px 446px #fff, 415px 1531px #fff, 83px 1629px #fff, 373px 32px #fff,
    428px 107px #fff, 1663px 534px #fff, 1108px 179px #fff, 791px 805px #fff,
    28px 1640px #fff, 1430px 1521px #fff, 135px 65px #fff, 263px 447px #fff,
    197px 1637px #fff, 444px 1695px #fff, 1324px 1862px #fff, 1607px 1710px #fff,
    1578px 1986px #fff, 764px 1630px #fff, 90px 95px #fff, 50px 102px #fff,
    1340px 1261px #fff, 167px 1749px #fff, 1901px 205px #fff, 1994px 1207px #fff,
    1265px 1410px #fff, 441px 1287px #fff, 61px 1253px #fff, 168px 804px #fff,
    1006px 237px #fff, 716px 619px #fff, 1680px 1535px #fff, 685px 968px #fff,
    819px 780px #fff, 1139px 1082px #fff, 1240px 191px #fff, 728px 601px #fff,
    1113px 8px #fff, 1380px 1703px #fff, 518px 30px #fff, 705px 571px #fff,
    1358px 769px #fff, 257px 1954px #fff, 1966px 1919px #fff, 1510px 864px #fff,
    41px 1901px #fff, 354px 551px #fff, 1705px 1629px #fff, 1951px 1455px #fff,
    110px 808px #fff, 1907px 1252px #fff, 628px 1869px #fff, 1164px 1647px #fff,
    356px 1496px #fff, 1513px 719px #fff, 1695px 40px #fff, 1951px 141px #fff,
    300px 1581px #fff, 1622px 1470px #fff, 258px 1153px #fff, 1018px 35px #fff,
    735px 1642px #fff, 470px 1337px #fff, 1783px 1572px #fff, 884px 1088px #fff,
    74px 127px #fff, 282px 1349px #fff, 136px 61px #fff, 542px 702px #fff,
    1785px 930px #fff, 1583px 225px #fff, 407px 1070px #fff, 1827px 1811px #fff,
    907px 828px #fff, 351px 877px #fff, 324px 1964px #fff, 670px 1723px #fff,
    1430px 821px #fff, 539px 293px #fff, 81px 1129px #fff, 1470px 1110px #fff,
    956px 1694px #fff, 435px 733px #fff, 1199px 38px #fff, 1450px 443px #fff,
    1415px 1347px #fff, 1998px 1505px #fff, 1152px 771px #fff, 313px 37px #fff,
    1220px 560px #fff, 876px 345px #fff, 979px 1636px #fff, 1236px 1086px #fff,
    1034px 248px #fff, 1041px 1807px #fff, 1424px 1295px #fff,
    1792px 1761px #fff, 1536px 1211px #fff, 867px 358px #fff, 323px 950px #fff,
    1250px 1955px #fff, 71px 1257px #fff, 1499px 505px #fff, 870px 1458px #fff,
    401px 278px #fff, 1457px 342px #fff, 1781px 1447px #fff, 1467px 1738px #fff,
    311px 1294px #fff, 1743px 49px #fff, 965px 1838px #fff, 968px 1176px #fff,
    349px 1143px #fff, 1682px 202px #fff, 568px 273px #fff, 1182px 726px #fff,
    1966px 1164px #fff, 1451px 618px #fff, 1932px 1377px #fff, 215px 241px #fff,
    73px 45px #fff, 1483px 841px #fff, 1496px 1027px #fff, 194px 1091px #fff,
    1744px 1089px #fff, 719px 480px #fff, 305px 163px #fff, 484px 1590px #fff,
    1172px 712px #fff, 1784px 1190px #fff, 1501px 1680px #fff, 865px 1054px #fff,
    1701px 1317px #fff, 1424px 1067px #fff, 510px 1215px #fff, 816px 211px #fff,
    276px 1068px #fff, 212px 567px #fff, 70px 646px #fff, 1577px 1160px #fff,
    753px 1138px #fff, 1559px 1173px #fff, 339px 1521px #fff, 1955px 733px #fff,
    447px 463px #fff, 1700px 1442px #fff, 1304px 1556px #fff, 1532px 1102px #fff,
    1903px 332px #fff, 1651px 1131px #fff, 231px 553px #fff, 1934px 1837px #fff,
    194px 955px #fff, 385px 557px #fff, 824px 1539px #fff, 2px 1657px #fff,
    1262px 1926px #fff, 1085px 684px #fff, 1985px 233px #fff, 135px 170px #fff,
    775px 408px #fff, 1576px 1966px #fff, 1699px 808px #fff, 694px 1414px #fff,
    756px 703px #fff, 1757px 701px #fff, 945px 1223px #fff, 1596px 1951px #fff,
    127px 1033px #fff, 722px 60px #fff, 905px 1312px #fff, 182px 1345px #fff,
    1483px 1081px #fff, 1289px 573px #fff, 1111px 293px #fff, 1556px 918px #fff,
    1671px 1518px #fff, 1686px 544px #fff, 493px 344px #fff, 1076px 78px #fff,
    867px 1455px #fff, 1123px 139px #fff, 259px 278px #fff, 1776px 910px #fff,
    414px 1496px #fff, 678px 1725px #fff, 1273px 669px #fff, 945px 1292px #fff,
    895px 1974px #fff, 10px 1212px #fff, 155px 1650px #fff, 1891px 1756px #fff,
    1046px 460px #fff, 1329px 493px #fff;
  animation: animStar 20s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 746px 1726px #fff, 1244px 234px #fff, 668px 1348px #fff,
    17px 1680px #fff, 938px 1799px #fff, 15px 257px #fff, 350px 126px #fff,
    1327px 446px #fff, 415px 1531px #fff, 83px 1629px #fff, 373px 32px #fff,
    428px 107px #fff, 1663px 534px #fff, 1108px 179px #fff, 791px 805px #fff,
    28px 1640px #fff, 1430px 1521px #fff, 135px 65px #fff, 263px 447px #fff,
    197px 1637px #fff, 444px 1695px #fff, 1324px 1862px #fff, 1607px 1710px #fff,
    1578px 1986px #fff, 764px 1630px #fff, 90px 95px #fff, 50px 102px #fff,
    1340px 1261px #fff, 167px 1749px #fff, 1901px 205px #fff, 1994px 1207px #fff,
    1265px 1410px #fff, 441px 1287px #fff, 61px 1253px #fff, 168px 804px #fff,
    1006px 237px #fff, 716px 619px #fff, 1680px 1535px #fff, 685px 968px #fff,
    819px 780px #fff, 1139px 1082px #fff, 1240px 191px #fff, 728px 601px #fff,
    1113px 8px #fff, 1380px 1703px #fff, 518px 30px #fff, 705px 571px #fff,
    1358px 769px #fff, 257px 1954px #fff, 1966px 1919px #fff, 1510px 864px #fff,
    41px 1901px #fff, 354px 551px #fff, 1705px 1629px #fff, 1951px 1455px #fff,
    110px 808px #fff, 1907px 1252px #fff, 628px 1869px #fff, 1164px 1647px #fff,
    356px 1496px #fff, 1513px 719px #fff, 1695px 40px #fff, 1951px 141px #fff,
    300px 1581px #fff, 1622px 1470px #fff, 258px 1153px #fff, 1018px 35px #fff,
    735px 1642px #fff, 470px 1337px #fff, 1783px 1572px #fff, 884px 1088px #fff,
    74px 127px #fff, 282px 1349px #fff, 136px 61px #fff, 542px 702px #fff,
    1785px 930px #fff, 1583px 225px #fff, 407px 1070px #fff, 1827px 1811px #fff,
    907px 828px #fff, 351px 877px #fff, 324px 1964px #fff, 670px 1723px #fff,
    1430px 821px #fff, 539px 293px #fff, 81px 1129px #fff, 1470px 1110px #fff,
    956px 1694px #fff, 435px 733px #fff, 1199px 38px #fff, 1450px 443px #fff,
    1415px 1347px #fff, 1998px 1505px #fff, 1152px 771px #fff, 313px 37px #fff,
    1220px 560px #fff, 876px 345px #fff, 979px 1636px #fff, 1236px 1086px #fff,
    1034px 248px #fff, 1041px 1807px #fff, 1424px 1295px #fff,
    1792px 1761px #fff, 1536px 1211px #fff, 867px 358px #fff, 323px 950px #fff,
    1250px 1955px #fff, 71px 1257px #fff, 1499px 505px #fff, 870px 1458px #fff,
    401px 278px #fff, 1457px 342px #fff, 1781px 1447px #fff, 1467px 1738px #fff,
    311px 1294px #fff, 1743px 49px #fff, 965px 1838px #fff, 968px 1176px #fff,
    349px 1143px #fff, 1682px 202px #fff, 568px 273px #fff, 1182px 726px #fff,
    1966px 1164px #fff, 1451px 618px #fff, 1932px 1377px #fff, 215px 241px #fff,
    73px 45px #fff, 1483px 841px #fff, 1496px 1027px #fff, 194px 1091px #fff,
    1744px 1089px #fff, 719px 480px #fff, 305px 163px #fff, 484px 1590px #fff,
    1172px 712px #fff, 1784px 1190px #fff, 1501px 1680px #fff, 865px 1054px #fff,
    1701px 1317px #fff, 1424px 1067px #fff, 510px 1215px #fff, 816px 211px #fff,
    276px 1068px #fff, 212px 567px #fff, 70px 646px #fff, 1577px 1160px #fff,
    753px 1138px #fff, 1559px 1173px #fff, 339px 1521px #fff, 1955px 733px #fff,
    447px 463px #fff, 1700px 1442px #fff, 1304px 1556px #fff, 1532px 1102px #fff,
    1903px 332px #fff, 1651px 1131px #fff, 231px 553px #fff, 1934px 1837px #fff,
    194px 955px #fff, 385px 557px #fff, 824px 1539px #fff, 2px 1657px #fff,
    1262px 1926px #fff, 1085px 684px #fff, 1985px 233px #fff, 135px 170px #fff,
    775px 408px #fff, 1576px 1966px #fff, 1699px 808px #fff, 694px 1414px #fff,
    756px 703px #fff, 1757px 701px #fff, 945px 1223px #fff, 1596px 1951px #fff,
    127px 1033px #fff, 722px 60px #fff, 905px 1312px #fff, 182px 1345px #fff,
    1483px 1081px #fff, 1289px 573px #fff, 1111px 293px #fff, 1556px 918px #fff,
    1671px 1518px #fff, 1686px 544px #fff, 493px 344px #fff, 1076px 78px #fff,
    867px 1455px #fff, 1123px 139px #fff, 259px 278px #fff, 1776px 910px #fff,
    414px 1496px #fff, 678px 1725px #fff, 1273px 669px #fff, 945px 1292px #fff,
    895px 1974px #fff, 10px 1212px #fff, 155px 1650px #fff, 1891px 1756px #fff,
    1046px 460px #fff, 1329px 493px #fff;
}

#stars3 {
  overflow: hidden;
  z-index: -1;
  width: 3px;
  height: 3px;
  top: 0;
  left: 0;
  position: fixed;
  background: transparent;
  box-shadow: 1666px 1961px #fff, 897px 635px #fff, 1314px 1208px #fff,
    1766px 1045px #fff, 649px 1029px #fff, 1612px 1529px #fff,
    1565px 1482px #fff, 117px 1358px #fff, 728px 726px #fff, 885px 1689px #fff,
    898px 1996px #fff, 969px 766px #fff, 1802px 786px #fff, 1489px 1968px #fff,
    1493px 1973px #fff, 1687px 605px #fff, 650px 105px #fff, 871px 1973px #fff,
    1499px 1523px #fff, 1183px 403px #fff, 1820px 1315px #fff, 233px 648px #fff,
    508px 635px #fff, 1119px 901px #fff, 1603px 1291px #fff, 790px 112px #fff,
    53px 1233px #fff, 351px 1489px #fff, 1317px 1782px #fff, 884px 1737px #fff,
    631px 492px #fff, 597px 1033px #fff, 310px 1402px #fff, 1917px 807px #fff,
    747px 1867px #fff, 1939px 1516px #fff, 382px 1357px #fff, 1300px 1598px #fff,
    394px 1603px #fff, 1505px 111px #fff, 1294px 512px #fff, 859px 1495px #fff,
    133px 666px #fff, 800px 1533px #fff, 260px 890px #fff, 444px 1928px #fff,
    700px 854px #fff, 948px 437px #fff, 1128px 372px #fff, 476px 1444px #fff,
    1592px 434px #fff, 361px 1967px #fff, 775px 251px #fff, 1712px 1609px #fff,
    1173px 1941px #fff, 876px 1778px #fff, 760px 72px #fff, 956px 615px #fff,
    1685px 1532px #fff, 1505px 984px #fff, 982px 1237px #fff, 1501px 2px #fff,
    20px 964px #fff, 942px 402px #fff, 1008px 246px #fff, 963px 283px #fff,
    658px 697px #fff, 455px 509px #fff, 131px 1977px #fff, 192px 1585px #fff,
    1260px 1992px #fff, 1139px 8px #fff, 1391px 1591px #fff, 1255px 289px #fff,
    321px 332px #fff, 1784px 1604px #fff, 88px 1641px #fff, 614px 242px #fff,
    1549px 1532px #fff, 487px 534px #fff, 1594px 108px #fff, 1695px 718px #fff,
    1748px 1994px #fff, 893px 423px #fff, 633px 1666px #fff, 1327px 618px #fff,
    1111px 1798px #fff, 1517px 1860px #fff, 255px 1764px #fff, 28px 1271px #fff,
    866px 1458px #fff, 1267px 1556px #fff, 1505px 329px #fff, 1765px 1348px #fff,
    570px 798px #fff, 371px 188px #fff, 473px 641px #fff, 1687px 1514px #fff,
    1918px 1729px #fff, 390px 1299px #fff;
  animation: animStar 20s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1666px 1961px #fff, 897px 635px #fff, 1314px 1208px #fff,
    1766px 1045px #fff, 649px 1029px #fff, 1612px 1529px #fff,
    1565px 1482px #fff, 117px 1358px #fff, 728px 726px #fff, 885px 1689px #fff,
    898px 1996px #fff, 969px 766px #fff, 1802px 786px #fff, 1489px 1968px #fff,
    1493px 1973px #fff, 1687px 605px #fff, 650px 105px #fff, 871px 1973px #fff,
    1499px 1523px #fff, 1183px 403px #fff, 1820px 1315px #fff, 233px 648px #fff,
    508px 635px #fff, 1119px 901px #fff, 1603px 1291px #fff, 790px 112px #fff,
    53px 1233px #fff, 351px 1489px #fff, 1317px 1782px #fff, 884px 1737px #fff,
    631px 492px #fff, 597px 1033px #fff, 310px 1402px #fff, 1917px 807px #fff,
    747px 1867px #fff, 1939px 1516px #fff, 382px 1357px #fff, 1300px 1598px #fff,
    394px 1603px #fff, 1505px 111px #fff, 1294px 512px #fff, 859px 1495px #fff,
    133px 666px #fff, 800px 1533px #fff, 260px 890px #fff, 444px 1928px #fff,
    700px 854px #fff, 948px 437px #fff, 1128px 372px #fff, 476px 1444px #fff,
    1592px 434px #fff, 361px 1967px #fff, 775px 251px #fff, 1712px 1609px #fff,
    1173px 1941px #fff, 876px 1778px #fff, 760px 72px #fff, 956px 615px #fff,
    1685px 1532px #fff, 1505px 984px #fff, 982px 1237px #fff, 1501px 2px #fff,
    20px 964px #fff, 942px 402px #fff, 1008px 246px #fff, 963px 283px #fff,
    658px 697px #fff, 455px 509px #fff, 131px 1977px #fff, 192px 1585px #fff,
    1260px 1992px #fff, 1139px 8px #fff, 1391px 1591px #fff, 1255px 289px #fff,
    321px 332px #fff, 1784px 1604px #fff, 88px 1641px #fff, 614px 242px #fff,
    1549px 1532px #fff, 487px 534px #fff, 1594px 108px #fff, 1695px 718px #fff,
    1748px 1994px #fff, 893px 423px #fff, 633px 1666px #fff, 1327px 618px #fff,
    1111px 1798px #fff, 1517px 1860px #fff, 255px 1764px #fff, 28px 1271px #fff,
    866px 1458px #fff, 1267px 1556px #fff, 1505px 329px #fff, 1765px 1348px #fff,
    570px 798px #fff, 371px 188px #fff, 473px 641px #fff, 1687px 1514px #fff,
    1918px 1729px #fff, 390px 1299px #fff;
}

/* .background {
  position: absolute;
  width: 200vw;
  height: 200vw;
  top: -50%;
  left: -50%;
  z-index: 1;
  will-change: transform;
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  animation: spin 2000s linear infinite;
  background-size: 20%;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: scroll;
}

.stars {
  background-image: url("http://lukedowding.com/img/space.jpg");
} */
