/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(1, 0, 24);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  color: black;
  background: rgb(75, 213, 238);
}

::selection {
  color: black;
  background: rgb(75, 213, 238);
}

/* .background {
  position: absolute;
  width: 200vw;
  height: 200vw;
  top: -50%;
  left: -50%;
  z-index: 1;
  will-change: transform;
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  animation: spin 2000s linear infinite;
  background-size: 20%;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: scroll;
}

.stars {
  background-image: url("http://lukedowding.com/img/space.jpg");
} */
